@import './variables';
@import './mixins';

body {
    background-color: lighten($navbar-color, 60%) !important;
}

.card {
    margin: 0px auto 30px auto;
    border: {
        top: 0px !important;
        radius: 0 0 0.25rem 0.25rem !important;
    }
}
