<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div>
        <p>So, what is poi? Originated with the Māori people of New Zealand, is type of dance or a prop.
          First pairs of poi were just rocks with reed tether attached to it. 
          It has evolved to many versions depending of various styles of performance.
          Check some of them in videos below!
        </p>
      </div>
      <div>
        <p>Most popular type of poi is fire poi- prop is usually a steel chain with handle
          and a braided kevlar head (yup, the same as material of bulletproof vests) ond the other side.
          The head is soaked with flammable liquid and lighted up.           
        </p>
        <div class='video'>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Funlikeall%2Fvideos%2F945814205478854%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
        </div>
    </div>
    <div>
        <p>Fire poi practice without fire evolved to contact poi (poi head rolling on performer's 
          body), poi juggling and other variations like tangling, isolations etc.
        </p>
        <div class='video'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L-qfgqJrJB0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>        
    </div>
    <div>
        <p>Wanna try? You can easily make your own pair of poi with stuff you'll find in home.
          Youtube is full of tutorials how to make poi and how to start spinning.
        </p>
        <div class='video'>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jwMOtchpP8A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>        
    </div>


  </div>
  <div class="card-footer"></div>
</div>

