<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <p *ngIf="empty">Your cart is empty. Go to Products section and get some stuff.</p>
          <p *ngIf="!empty">You've chosen {{item.productName}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
        <button class='btn btn-outline-primary'>
            <i class="fa fa-shopping-cart"></i>Buy now
        </button>
    </div>
  </div>
  
  