<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          {{ cartMessage }}
        </div>
        <div class='table-responsive'>
          <table class='table'
                 *ngIf='order && order.length'>
            <thead>
              <tr>
                <th>Product</th>
                <th>Code</th>
                <th>Price</th>
                <th>Number of items</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let items of order'>
                <td>
                  <a [routerLink]="['/products', items.productId]">
                    {{ items.productName }}
                  </a>
                </td>
                <td>{{ items.productCode | lowercase | convertToSpaces: '-' }}</td>
                <td>{{ items.price | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ items.quantity }}</td>
                <td><button type="button" class="close" aria-label="Close" (click)="removeItem(items.productId)">
                  <span aria-hidden="true">&times;</span>
                </button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
        <button class='btn btn-outline-primary'>
            <i class="fa fa-shopping-cart"></i>Buy now
        </button>
    </div>
  </div>
  
  