@import 'src/sass/_variables';

nav {    
    padding-bottom: 0 !important;
}

.nav-link.active {
    background-color: $bpcard-color !important;
    border-bottom: 1px solid  $bpcard-color  !important;
}

ul {
    margin-left: 50px;
    border-bottom: 0 !important;
}
